name: Manual major/minor version bump

on:
    workflow_dispatch:
      inputs:
        version_type:
          description: 'Type of version bump (major, minor, patch):'
          required: true
          default: 'patch'
        dry_run:
          description: 'Dry run (true/false):'
          required: false
          default: 'false'

jobs:
  approve:
    name: Approve version bump
    environment: restricted
    runs-on: ubuntu-latest
    steps:
      - name: Request approval
        run: echo "Requesting approval for version bump"

  test:
    name: Run tests on ${{ matrix.os }}
    needs: approve
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest] # , windows-latest, macos-latest]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[dev]

      - name: Run tests
        run: |
          pytest

  bump-version:
    name: Bump version
    permissions:
      contents: write
    needs: test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Print inputs
        run: |
          echo "Version type: ${{ github.event.inputs.version_type }}"
          echo "Dry run: ${{ github.event.inputs.dry_run }}"

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install bump-my-version
        run: |
          python -m pip install --upgrade pip
          pip install bump-my-version

      - name: Bump version
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          DRY_FLAG="${{ github.event.inputs.dry_run == 'true' && '--dry-run' || '' }}"  # convert true/false to --dry-run or empty string
          bump-my-version bump ${{ github.event.inputs.version_type }} $DRY_FLAG

      - name: Push changes and tag
        if: github.event.inputs.dry_run != 'true'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git push origin HEAD:main
          git push origin v$(bump-my-version show current_version)
